@model IEnumerable<TDAKyThuatSource.Models.DonVi>
@{
    ViewBag.Title = "CongTy";
    Layout = "~/Areas/Admin/Views/Shared/_layout_master.cshtml";
    int i = 1;
}
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
       // console.log($("#addCongTy"));
    });

    function loadData() {
        $.ajax({
            url: "/CongTy/ListCongty",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                
                var html = '';
                $.each(JSON.parse(result), function (key, item) {
                    html += '<tr> <td></td>';
                    html += '<td>' + item.sTenDonVi + '</td>';
                    html += '<td>' + item.sDiaChi + '</td>';
                    html += '<td><a href="#" onclick="return getbyID(' + item.iMaDonVi + ')">Edit</a> | <a href="#" onclick="Delele(' + item.iMaDonVi + ')">Delete</a></td>';
                    html += '</tr>';
                });
                
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Add() {
        //var res = validate();
        //if (res == false) {
        //    return false;
        //}
        var empObj = {
            sTenDonVi: $('#tendonvi').val(),
            sDiaChi: $('#diachi').val()
        };
        $.ajax({
            url: "/CongTy/AddCongty",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $("#addCongTy").modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Employee ID  
    //function getbyID(EmpID) {
    //    $('#Name').css('border-color', 'lightgrey');
    //    $('#Age').css('border-color', 'lightgrey');
    //    $('#State').css('border-color', 'lightgrey');
    //    $('#Country').css('border-color', 'lightgrey');
    //    $.ajax({
    //        url: "/Home/getbyID/" + EmpID,
    //        typr: "GET",
    //        contentType: "application/json;charset=UTF-8",
    //        dataType: "json",
    //        success: function (result) {
    //            $('#EmployeeID').val(result.EmployeeID);
    //            $('#Name').val(result.Name);
    //            $('#Age').val(result.Age);
    //            $('#State').val(result.State);
    //            $('#Country').val(result.Country);

    //            $('#myModal').modal('show');
    //            $('#btnUpdate').show();
    //            $('#btnAdd').hide();
    //        },
    //        error: function (errormessage) {
    //            alert(errormessage.responseText);
    //        }
    //    });
    //    return false;
    //}

    //function for updating employee's record  
    //function Update() {
    //    var res = validate();
    //    if (res == false) {
    //        return false;
    //    }
    //    var empObj = {
    //        EmployeeID: $('#EmployeeID').val(),
    //        Name: $('#Name').val(),
    //        Age: $('#Age').val(),
    //        State: $('#State').val(),
    //        Country: $('#Country').val(),
    //    };
    //    $.ajax({
    //        url: "/Home/Update",
    //        data: JSON.stringify(empObj),
    //        type: "POST",
    //        contentType: "application/json;charset=utf-8",
    //        dataType: "json",
    //        success: function (result) {
    //            loadData();
    //            $('#myModal').modal('hide');
    //            $('#EmployeeID').val("");
    //            $('#Name').val("");
    //            $('#Age').val("");
    //            $('#State').val("");
    //            $('#Country').val("");
    //        },
    //        error: function (errormessage) {
    //            alert(errormessage.responseText);
    //        }
    //    });
    //}

    //function for deleting employee's record  
    //function Delele(ID) {
    //    var ans = confirm("Are you sure you want to delete this Record?");
    //    if (ans) {
    //        $.ajax({
    //            url: "/Home/Delete/" + ID,
    //            type: "POST",
    //            contentType: "application/json;charset=UTF-8",
    //            dataType: "json",
    //            success: function (result) {
    //                loadData();
    //            },
    //            error: function (errormessage) {
    //                alert(errormessage.responseText);
    //            }
    //        });
    //    }
    //}

    //Function for clearing the textboxes  
    //function clearTextBox() {
    //    $('#EmployeeID').val("");
    //    $('#Name').val("");
    //    $('#btnUpdate').hide();
    //    $('#btnAdd').show();
    //}

    function ShowModal() {
        $("#addCongTy").modal('show');
    }
    //Valdidation using jquery  
    //function validate() {
    //    var isValid = true;
    //    if ($('#Name').val().trim() == "") {
    //        $('#Name').css('border-color', 'Red');
    //        isValid = false;
    //    }
    //    else {
    //        $('#Name').css('border-color', 'lightgrey');
    //    }
    //    if ($('#Age').val().trim() == "") {
    //        $('#Age').css('border-color', 'Red');
    //        isValid = false;
    //    }
    //    else {
    //        $('#Age').css('border-color', 'lightgrey');
    //    }
    //    if ($('#State').val().trim() == "") {
    //        $('#State').css('border-color', 'Red');
    //        isValid = false;
    //    }
    //    else {
    //        $('#State').css('border-color', 'lightgrey');
    //    }
    //    if ($('#Country').val().trim() == "") {
    //        $('#Country').css('border-color', 'Red');
    //        isValid = false;
    //    }
    //    else {
    //        $('#Country').css('border-color', 'lightgrey');
    //    }
    //    return isValid;
    //}
</script>
<!-- content-wrapper ends -->
<div class="main-panel">
    <div class="card">
        <div class="card-header text-dark">
            Công Ty
            <div class="ml-auto d-inline float-right">
                <button type="button" class="btn btn-primary btn-sm ml-auto" data-toggle="modal"
                         onclick="ShowModal();">
                    Tạo mới
                </button>
            </div>



            <div class="card-body table-responsive">
                <table datatable class="table table-striped table-hover display">
                    <thead class="bg-color text-white">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên Công Ty</th>
                            <th scope="col">Địa Chỉ</th>
                            <th scope="col">Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody> 
                </table>
            </div>

            @*--My modal--*@
            <div bsmodal #modaladd="bs-modal" class="modal fade" id="addCongTy" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Tạo Mới</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group row">
                                    <label for="addCongTy" class="col-sm-3 col-form-label">Tên Công Ty</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="addCongTy"
                                               placeholder="Vui lòng nhập tên công ty">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="addCongTy" class="col-sm-3 col-form-label">Địa Chỉ</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="addCongTy"
                                               placeholder="Vui lòng nhập địa chỉ">
                                    </div>
                                </div>
                                <div class="text-block text-center my-3">
                                    <p class="text-danger">{{message}}</p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ml-auto d-inline float-left">
                <a href="#">Quay lại</a>
            </div>
            <div class="ml-auto d-inline float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- page-body-wrapper ends -->
